In [1]:
import pandas as pd
import numpy as np
import random

In [3]:
mfrs =  pd.read_table('FDA-mfrs.csv', names=['mfr_name'])

In [4]:
mfrs_large = pd.read_table('all-manufacturers-name.xlxs', name='mfr_name')

TypeError: read_table() got an unexpected keyword argument 'name'

In [3]:
mfrs.head()

              mfr_name
0               OTSUKA
1  OTSUKA PHARM CO LTD
2           PFIZER INC
3   SUN PHARM INDS INC
4  SENTYNL THERAPS INC

In [4]:
mfrs.shape

(363, 1)

In [5]:
mfr_id = np.arange(1, 364)
mfr_id

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363])

In [6]:
mfr_name_list = mfrs.mfr_name.unique()
mfr_name_list.size

363

In [7]:
pin = np.random.randint(low=100000, high=999999, size=363)
pin

array([990091, 232860, 742107, 642893, 999733, 270280, 308679, 968807,
       419276, 753320, 615743, 682495, 580402, 197665, 280111, 309584,
       439363, 676240, 842496, 647297, 759494, 160659, 531644, 269310,
       364499, 580339, 785143, 632737, 171205, 418065, 114421, 973723,
       368078, 713079, 752061, 896326, 168340, 645560, 979567, 716300,
       169789, 765000, 549907, 646704, 472660, 757596, 408310, 620457,
       212522, 807792, 124231, 889452, 639683, 396289, 203050, 339206,
       711060, 451087, 567404, 295318, 943622, 732845, 667877, 958693,
       681871, 160359, 783310, 136705, 334242, 985026, 911807, 796433,
       784541, 658541, 307321, 582979, 901263, 136591, 447612, 801164,
       679170, 819155, 869706, 150661, 987711, 235006, 518454, 647877,
       704793, 797254, 316488, 217885, 761781, 108088, 439410, 190177,
       434669, 785630, 628660, 397683, 350405, 830672, 806408, 597771,
       326363, 406591, 691586, 793527, 512160, 656610, 545637, 743298,
       712471, 756695, 142889, 548091, 343865, 654340, 697872, 489772,
       789193, 207722, 836468, 795591, 617351, 597446, 834924, 934533,
       489244, 390347, 894884, 846357, 251264, 763825, 399166, 997975,
       519107, 849470, 686061, 179636, 420644, 463019, 335473, 735290,
       727185, 718432, 605300, 562248, 100706, 746994, 466051, 322318,
       993360, 505016, 594192, 199584, 677970, 562148, 194888, 356600,
       521393, 943264, 976944, 965160, 463858, 523240, 781447, 941960,
       358901, 590726, 630819, 779611, 405833, 182505, 204475, 443437,
       432107, 706545, 417883, 568594, 920246, 295021, 833162, 184543,
       361713, 924628, 568617, 715745, 602759, 989132, 903739, 670359,
       715792, 705863, 525205, 478692, 358147, 527821, 186429, 430905,
       914555, 973982, 303809, 261485, 535396, 960596, 215161, 119029,
       338035, 667588, 986882, 826174, 560534, 297503, 723280, 563735,
       919175, 907246, 568346, 473624, 491219, 653594, 602979, 257402,
       113134, 701061, 836303, 227339, 275193, 691987, 848238, 800118,
       515102, 423316, 948523, 328143, 819165, 252771, 424164, 560588,
       839347, 659132, 468002, 569144, 908975, 708047, 812476, 579708,
       320741, 202842, 766368, 308065, 152843, 426445, 926679, 980174,
       899646, 256772, 851512, 866320, 150517, 523870, 793555, 545571,
       831448, 925523, 815856, 548607, 993796, 289444, 558101, 217633,
       509634, 792709, 607509, 684066, 321884, 647159, 929847, 111135,
       710235, 899615, 281911, 782979, 889104, 171381, 222905, 290935,
       117762, 819305, 401346, 733372, 986408, 369234, 963788, 193436,
       782941, 575585, 825408, 478107, 236847, 569576, 503870, 104723,
       710277, 489111, 664961, 802279, 601639, 352196, 346691, 213214,
       798957, 274215, 372574, 339618, 932972, 650408, 963383, 211477,
       712202, 281627, 575681, 617319, 906824, 695982, 267607, 906417,
       484820, 620751, 263437, 351915, 652953, 320018, 640206, 334058,
       294331, 246253, 968646, 242702, 339424, 492557, 212139, 269133,
       689394, 954483, 892673, 773292, 791113, 933586, 993294, 752197,
       897468, 498076, 492108, 707956, 340192, 684430, 246212, 204313,
       972360, 143539, 737803])

In [8]:
phone = np.random.randint(low=1000000000, high=9999999999, size=363, dtype='int64')
phone

array([7277124213, 3326756041, 8794327442, 2272966336, 8354288538,
       3457703144, 7275008298, 3542699616, 2978381617, 5092300693,
       1113377751, 5794958844, 9689808175, 2607634745, 9756204824,
       3410972560, 8714850237, 7232599336, 6995225483, 1683019225,
       8473514647, 5675372075, 4551664152, 7914840127, 4049463082,
       7814921753, 4211247743, 3813847148, 4231642968, 8281898378,
       4946583048, 7024468404, 3870318380, 6370921375, 3602959125,
       2030015597, 7266177148, 9938003552, 5861801244, 3565100763,
       5900918121, 6200967160, 9405108041, 4724607695, 3913855402,
       4561200589, 6030801264, 4111929887, 2942017946, 5913561804,
       2683404372, 9512166869, 5101364615, 4259997012, 3151099804,
       8187462443, 8738984919, 1644010666, 1810192847, 5074878412,
       6533354570, 1728995635, 2070218397, 6562168928, 6570013643,
       4711830932, 6898368626, 4570477727, 6942395446, 2841907370,
       1490269255, 1762753256, 9391139359, 5254581449, 3688051576,
       7399639242, 3105044524, 7255026527, 7568807018, 3506377931,
       2786599149, 6846319041, 1657135775, 8161497288, 3645215095,
       3947203021, 8112919079, 3709761757, 3156306375, 9854943226,
       4580395080, 1548079481, 5627382793, 7807763816, 2019227817,
       3393695751, 8309143256, 8675473666, 2046533284, 4200981693,
       2555473991, 7467458168, 8242464641, 7939672985, 4225235787,
       5840419717, 2004525663, 4453489142, 6348296180, 2935936242,
       8983880132, 1293632548, 9075073846, 1723377559, 8426688477,
       3183883044, 7216999130, 5712576204, 7978274449, 5754161443,
       3249474659, 9395425308, 6300286980, 2253259219, 1743237904,
       6177006213, 6858033074, 1380272390, 5557642613, 7363742267,
       5694146257, 8748410204, 1877350637, 4870460847, 7487911623,
       4956047818, 6109501021, 6949371734, 2409564017, 7749131226,
       4402266713, 4632253460, 4402413598, 6750555386, 6047773288,
       5126505939, 8566829512, 4828632477, 9892788848, 9174705702,
       1792282669, 4303285990, 8286067967, 3644682576, 6998669475,
       6290066335, 9174892088, 2819931290, 7037099812, 1613644144,
       8996908678, 6972346797, 3486383414, 6130552197, 8485962960,
       8323336265, 1101932204, 1306457801, 5618433546, 8024294300,
       5951950443, 9521028104, 1831872671, 8961053580, 3574230823,
       1369272295, 2850522062, 8350502222, 2400562779, 7568007215,
       9356472053, 5157961340, 1750047259, 9643785326, 9335558243,
       4151336035, 1896622288, 8980548177, 7235857242, 8853685603,
       6766364163, 7546386139, 9800878299, 9555119608, 3386431717,
       4725353373, 5818909765, 8661511406, 8248597973, 5443734201,
       6010444099, 1274629720, 3236397883, 2302112953, 6819774265,
       2487836831, 1945862799, 8361156117, 1718164674, 3789109340,
       2846532183, 6147230130, 7100527738, 9630033080, 1880055380,
       6068063722, 9431931981, 3808534115, 4781395210, 8042256276,
       2765185717, 2661861980, 8525321928, 6286687221, 8673544053,
       2166406818, 6926357377, 1385111267, 2096034997, 7137721357,
       9044186505, 8825771624, 9062452159, 1079662662, 4354327339,
       5915856750, 9332736601, 8310546538, 5881281804, 5892014245,
       3692449093, 1617313390, 2447567134, 6757903274, 9854748832,
       8280607762, 1049748548, 4358424172, 3806610250, 8039958515,
       9219020402, 5952096414, 4530194385, 2040653144, 8659626018,
       1651751083, 4394644914, 9845222522, 2541445232, 9538040250,
       6361690807, 8940466909, 9811561377, 8319721266, 7843139211,
       8530032853, 9633625480, 4842750157, 1396332148, 6088839634,
       2992038124, 5633935148, 3587590404, 3371029840, 9999767889,
       5211535052, 8300576664, 7303229059, 3893560178, 2483941214,
       3150526960, 9445268148, 1361364797, 6917178543, 7312863536,
       7954238141, 2945868438, 2888479863, 3938174081, 8009851800,
       1129263150, 6773196154, 1233598756, 4678149060, 1047186242,
       4404294368, 7155524485, 6599577739, 1158922888, 5697960909,
       3517573240, 2226156021, 1112263235, 2665169625, 5516057506,
       9162626612, 6743736390, 9923183253, 2695190114, 1941662622,
       8856520346, 6345920689, 7203624581, 3851179699, 7948496460,
       9966292688, 3067108342, 5411520372, 1206933382, 2995660651,
       8549994131, 6739669928, 7226497727, 4989626068, 1592491650,
       9679835163, 7864961788, 3580076145, 1467057070, 6570031014,
       1580281077, 1981703008, 1640597440, 5851434211, 3260986485,
       3403629747, 4376774817, 8962083738, 6570774202, 5125540961,
       1334110895, 5711364199, 3636304605, 4840478820, 8914157524,
       5729444345, 4693013683, 4012064317, 1234290551, 3885804146,
       1169568247, 5092037887, 8773669065, 5674542594, 6948685062,
       8259323562, 9657528890, 2655889606, 1442152799, 6315757775,
       8950790219, 9598508444, 7575299061], dtype=int64)

In [9]:
mfrs.mfr_name[1].lower().replace(' ', '')+'@mail.com'

'otsukapharmcoltd@mail.com'

In [10]:
email = mfrs.apply(lambda x: x.mfr_name.lower().replace(' ', '')+'@mail.com', axis=1)
email

0                      otsuka@mail.com
1            otsukapharmcoltd@mail.com
2                   pfizerinc@mail.com
3             sunpharmindsinc@mail.com
4           sentynltherapsinc@mail.com
                    ...
358    marinuspharmaceuticals@mail.com
359                orexousinc@mail.com
360                sagetherap@mail.com
361                    incyte@mail.com
362                elilillyco@mail.com
Length: 363, dtype: object

In [11]:
cities = ['Kolkata', 'Mohali', 'ABC City', 'DEF City', 'Delhi', 'Mumbai', 'Pune', 'Dehradun']
addr = mfrs.apply(lambda x: random.choice(cities), axis=1)
addr

0          Pune
1      Dehradun
2          Pune
3      Dehradun
4         Delhi
         ...
358    ABC City
359     Kolkata
360      Mohali
361    ABC City
362     Kolkata
Length: 363, dtype: object

In [12]:
myData = {
    'mfr_id': mfr_id,
    'mfr_name': mfr_name_list,
    'address_1': addr,
    'pin': pin,
    'email': email,
    'phone': phone,
}

In [13]:
mfr_table=pd.DataFrame(data=myData)

In [14]:
mfr_table

,mfr_id,mfr_name,address_1,pin,email,phone
0,1,OTSUKA,Pune,990091,otsuka@mail.com,7277124213
1,2,OTSUKA PHARM CO LTD,Dehradun,232860,otsukapharmcoltd@mail.com,3326756041
2,3,PFIZER INC,Pune,742107,pfizerinc@mail.com,8794327442
3,4,SUN PHARM INDS INC,Dehradun,642893,sunpharmindsinc@mail.com,2272966336
4,5,SENTYNL THERAPS INC,Delhi,999733,sentynltherapsinc@mail.com,8354288538
...,...,...,...,...,...,...
358,359,MARINUS PHARMACEUTICALS,ABC City,246212,marinuspharmaceuticals@mail.com,1442152799
359,360,OREXO US INC,Kolkata,204313,orexousinc@mail.com,6315757775
360,361,SAGE THERAP,Mohali,972360,sagetherap@mail.com,8950790219
361,362,INCYTE,ABC City,143539,incyte@mail.com,9598508444
362,363,ELI LILLY CO,Kolkata,737803,elilillyco@mail.com,7575299061

In [16]:
mfr_table.to_csv('mfrs_data.csv')